@import url("datepicker.css");

body { background: #ddd; color: #333; font-family: Arial, Helvetica, Geneva, sans-serif; font-size: 13px; text-align:center; line-height: 1.3em; margin: 0 0 0 0; padding: 0; }
a, a:visited { color: #11959A; }
a:hover { color: #9A5A11; }
input[type=text], input[type=password], textarea { border-style: inset; padding: 2px; }
.error {background: #fdd; padding: 5px; margin: 5px; color: #a00; }
.success {background: #dfd; padding: 5px; margin: 5px; color: #0a0; }

#wrapper { background: #fff url(/ohms/images/bg.png) repeat-y; padding: 0 20px; width: 954px; margin: 0 auto; text-align: left; }
#header { text-align: center; padding: 10px; }
#main-nav { text-align: center; padding: 10px; border-top: 1px solid #2C8888; border-bottom: 1px solid #62A2A2; }
#left-nav { float: left; width: 190px; padding: 10px; border-right: 3px solid #ddd; }
#content-wrapper { margin: 0;}
#content { float: left; width: 640px; padding: 0 10px 10px 30px; }
#footer { color: #888; text-align: center; padding: 20px 10px 10px 10px; margin: 0 -20px; background: #ddd url(/ohms/images/footer.png) top left no-repeat; }
.clear { clear: both; }

#header-image { display: block; height: 109px; background: url(images/header.png) top center no-repeat; }

#content #title { margin: 15px 0; color: #a5b7b6; font: 1.8em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; }

#main-nav { background: #a5b7b6 url(/ohms/images/main-nav.png) top left repeat-x; height: 20px; }
#main-nav ul { text-align: center; margin: 0; padding: 0; }
#main-nav ul li { display: inline; line-height:20px; }
#main-nav ul li a, #main-nav ul li a:visited { padding: 11px 20px; color: #555; text-decoration: none; background: #c6dedd; border-right: 1px solid #516665; border-left: 1px solid #fff; font: 1em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;  }
#main-nav ul li a:hover { background: #c6cbdc; }

#left-nav ol, #left-nav ul { color: #999; margin: 30px 0; }
#left-nav ol li, #left-nav ul li { margin: 10px 0; }
#left-nav .done { color: #000; }
#left-nav .current { font-weight: bold; color: #000; }

.rooms { padding-top: 10px; margin-top: 15px; border-top: 1px solid #ccc; }
.rooms ol { color: #999; font: 2em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; margin: 0; }
.rooms ol li { display: list-item; position: relative; margin: 20px 0; background: #eee; padding: 5px; }
.rooms ol li span { padding: 5px; color: #333; font: 13px Arial, Helvetica, Geneva, sans-serif; }

table.bookings { width: 100%; }

.index { color: #aaa; }